.container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 10vh;
}

.btn {
  font-size: 3vh;
}

#joke-content {
  font-family: 'Fredoka', sans-serif;
  font-size: 4vh;
  overflow: auto;
  width: 90%;
  margin: 10vh;
}

@media screen and (max-width: 700px) {
  #joke-content {
    font-size: 3.5vh;
    margin: 1vh;
    width: 95%;
  }

  .btn {
    font-size: 2vh;
  }
}
